// Fonts
$font-family: "Montserrat", sans-serif;

// Colors
$container-bg: #2176ff;
$main-bg: #33a1fd;
$white: #fff;
$black: #1a1a1a;
$grey: #31393c;
$error: #ff4a4a;
$button: #fdca40;
$button-hover: #e0b53c;
